@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "ALSStory";

  font-display: swap;
  src: url("../fonts/ALSStory.woff2") format("woff2"), url("../fonts/ALSStory.woff") format("woff");
}
